.card-depoimento {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.1rem;

    width: 300px;

    img {
        max-width: 50px;
        max-height: 50px;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;

        span {
            font-weight: 500;
        }
    }
}