<app-banner [src]="src" [alt]="alt"></app-banner>
<app-container>
    <h2>Promoções</h2>
    <div class="card-wrapper">
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
    </div>
    <h2>Depoimentos</h2>
</app-container>
<app-footer></app-footer>
