<app-banner [src]="src" [alt]="alt"></app-banner>
<app-container>
    <app-form-buscar></app-form-buscar>
    <h2>Promoções</h2>
    <div class="card-wrapper">
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
        <app-card-buscar [img]="img" [alt]="alt_" [titulo]="titulo" [preco]="preco"></app-card-buscar>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoimento [avatar]="avatar" [altAvatar]="altAvatar" [depoimento]="depoiomento" [autoria]="autoria"></app-card-depoimento>
        <app-card-depoimento [avatar]="avatar" [altAvatar]="altAvatar" [depoimento]="depoiomento" [autoria]="autoria"></app-card-depoimento>
        <app-card-depoimento [avatar]="avatar" [altAvatar]="altAvatar" [depoimento]="depoiomento" [autoria]="autoria"></app-card-depoimento>
    </div>
</app-container>
<app-banner [src]="src_depoimento" [alt]="alt_depoimento"></app-banner>
<app-footer></app-footer>
