<footer>
    <app-container>
        <div class="footer-main-div">
            <div class="footer-div">
                <img src="../../../assets/imagens/logo-com-tagline.png" alt="Logo da jornada trilha com tagline.">
                <div class="footer-dados">
                    <p>Horário de atendimento: 08h - 20h (Segunda á Sábado)</p>
                    <p>Desenvolvido por Isaquesantos7. Projeto sem fins lucrativos.</p>
                </div>
            </div>
    
            <div class="footer-icons">
                <p>Acesse nossas redes:</p>
                <div class="footer-icons-button">
                    <button mat-icon-button>
                        <img src="../../../assets/icones/whatsapp.png" alt="Icone do Whatssap.">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/icones/instagram.png" alt="Icone do Instagram.">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/icones/twitter.png" alt="Icone do Twitter.">
                    </button>
                </div>
            </div>
        </div>
    </app-container>
</footer>